/* This usually goes in the global but let's keep it here
   for the sake of this tutorial */
   body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /*  Make our map take the full viewport - 100% */
  #root,
  .App,
  .mapContainer,
  .mapBox {
    width: 100%;
    height: 100%;
  }
  
  /* Tooltip code */
  .mapboxgl-popup {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #424242;
  }
  
  .mapboxgl-popup-content {
    padding: 1rem;
    margin: 0;
  
    > * {
      margin: 0 0 0.5rem;
      padding: 0;
    }
  
    p {
      border-bottom: 1px solid rgba(black, 0.2);
  
      b {
        font-size: 1.6rem;
        color: #212121;
        padding: 0 5px;
      }
    }
  
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    }

  .legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
    }
     
    .legend h4 {
    margin: 0 0 10px;
    }
     
    .legend div span {
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      width: 10px;
    }